@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;;
}
body {
	font-family: "Poppins",sans-serif !important;
}
.icondiv, .started-img {
	position: relative;
}
.header-right-img {
	position: absolute;
	right: 6%;
	top: 12%;
	width: 150px;
	z-index: 1;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
a {
	color: #337ab7;
	text-decoration: none;
}
.header-right-img > img {
	width: 100%;
}
.header-top-part {
	background-color: #033168;
	padding: 3px;
}
.col-lg-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
.container {
	width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.logo-img {
	width: 100%;
	padding: 12px;
}
.header-lower-part {
	background-color: #fff;
	padding: 6px;
}
.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.list-group {
	display:flex;
    flex-direction: row;
	border-radius: .25rem;
	margin-top: 16px !important;
	margin-bottom: 16px !important;
	padding-left: 0;
}
.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.list-group-item {
	border: none !important;
}
.top-menu {
	font-size: 15px;
	color: #3c3c3c;
	line-height: 5px;
	text-decoration: none !important;
}
/* Sign in */
.text-center {
	text-align: center;
}
.sign-in-section {
	margin: 5% 0%;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.sign-in-heading-section .heading {
	color: rgb(3, 49, 104);
	font-size: 36px;
}
.sign-in-heading-section .heading .bold {
	font-weight: 600;
}
.login-left-outer-div1 {
	position: relative;
}
.login-left-outer-div1 {
	background-size: cover;
	background-position: revert;
}
.col-lg-6 {
	width: 50%;
}
.form-heading {
	text-align: center;
	margin-top: 5%;
}
.form-heading h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 40px;
	padding-bottom: 30px;
	margin-top: 0px;
}
.login-form {
	padding: 0% 10%;
}
.login-form > form > .input-group {
	border: 1px solid rgb(3, 51, 108) !important;
	margin-top: 20px;
}
.login-form > form > .input-group > span {
	background-color: rgb(3, 54, 114);
	border: medium none !important;
	font-size: 20px;
	color: white;
	padding: 10px 24px;
	border-radius: 0px;
}
.login-form > form > .input-group > .form-control {
	border: medium none !important;
	box-shadow: none !important;
	font-size: 17px;
	padding: 0px 0px 0px 20px;
	margin: 0px;
	height: 54px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
}
.login-form > form > .input-group1 {
	font-size: 16px;
	margin-top: 15px;
}
.login-form > form > .input-group1 > label {
	font-weight: normal;
	color: rgb(153, 153, 175);
	font-size: 15px;
}
.login-form > form > .input-group1 > a {
	float: right;
	font-size: 15px;
	text-decoration: none;
	color: rgb(152, 156, 171);
}
.submit-btn {
	text-align: center;
	margin-top: 30px;
}
.submit-btn > .submit {
	font-size: 17px;
	color: white;
	background-color: rgb(248, 86, 86);
	border-radius: 30px;
	border: 1px solid rgb(248, 86, 86);
	padding: 6px 51px;
	text-transform: uppercase;
}
.create-one-account {
	text-align: center;
	font-size: 16px;
	margin-top: 26px;
}
.create-one-account {
	text-align: center;
	font-size: 16px;
}
.create-one-account > span > a {
	color: rgb(255, 0, 0);
	text-decoration: underline !important;
	font-weight: 600;
}
.login-social-media-icons {
	margin-top: 12px;
}
.bottom-icons {
	margin-left: 6%;
	color: rgb(5, 47, 97);
	font-size: 15px;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 25px;
	padding: 10px 11px;
	cursor: pointer;
}
.mg-top-25-si {
	margin-top: 30%;
}
.mg-top-21-si {
	margin-top: 21px;
}
.sign-in-heading-section.text-center {
	text-align: center;
	width: 100%;
}
.or {
	color: rgb(139, 139, 139);
	background-color: white;
	padding: 6px;
	font-size: 18px;
}
.col-lg-6 {
	width: 50%;
	float: right;
	padding-left: 20px;
	box-sizing: border-box;
}
.or-div {
	margin-left: 47%;
	margin-bottom: -3%;
}
.or-outer-div {
	border-bottom: 1px solid rgb(209, 202, 202);
	margin: 20px 0px;
}
/* Footer */
.footer1 {
	background: #2a2a2c;
	padding: 25px 0;
	height: 100px;
}
.col-lg-12 {
	width: 100%;
}
.footer__copyright__text {
	font-size: 14px;
	color: #cfe9e0;
	float: left;
	line-height: 25px;
}
.list-group1 {
	display: flex;
	border-radius: .25rem;
	padding-left: 0;
}
.list-group-horizontal {
	margin-top: 3%;
}
.list-group-item1:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.list-group-item1 {
	position: relative;
	display: block;
}
.footer-store-logo1 {
	background-color: #2a2a2c !important;
}
.footer__copyright__payment {
	float: right;
}
.footer-icon-signin1 {
	margin-top: 5px;
}
.footer-icon-signin, .footer-icon-signin1 {
	color: #fff !important;
}
.footer-store-logo1 > img {
	width: 70%;
	border-radius: 5px;
}
.pad-right-15 {
	padding-right: 15px;
}
.footer-form > form > input {
	color: #000;
}
.footer-submit-btn, .footer-submit-btn1 {
	position: absolute;
	color: #1e1f26;
	background-color: #fff;
	border: none;
	height: 10px;
}
.footer-submit-btn1 {
	font-size: 20px;
	top: 6px;
	right: 7px;
}
.copyrights {
	margin-top: 15px;
}
.copyrights > p {
	color: #c7e1d8;
	text-align: center;
	font-size: 12px;
}
p {
	margin: 0 0 10px;
}
.bottom-footer {
	background: #363739;
	padding: 10px 0;
}
.footer-form {
	margin-top: -5px !important;
}
button {
	overflow: visible;
}
.footer-submit-btn, .footer-submit-btn1 {
	position: absolute;
	color: #1e1f26;
	background-color: #fff;
	border: none;
	height: 10px;
}